body {
  font-family: Arial, sans-serif;
  background: #081b29;
}

iframe {
  border: 2px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background-color: #0077cc;
  border: none;
}

.btn-primary:hover {
  background-color: #005fa3;
}
